{% extends "network/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <div class="above-posts">
            <form action="" method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit">
            </form>
        </div>
    {% endif %}

    <div id="posts">
        {% for post in posts %}
            {% include "network/post_template.html" %}
        {% empty %}
            <h3>No posts to display</h3>
        {% endfor %}
    </div>

    {% include "network/pagination_template.html" %}
{% endblock %}
